/*
body{
  width: 100%;
  height: 100vh;
  background-image: repeating-linear-gradient(45deg,black 13px, rgb(2 48 47 / 90%) 64px,black 65px)
}
*/


body {
  width: 100%;
  height: 100vh;
  background-image: repeating-linear-gradient(
    -45deg,
    rgb(14 32 32 / 90%) -17px,
    black 20px 40px
  );
}
