.shadow-custom-black {
    --tw-shadow-color: #817f7f;
    --tw-shadow: 0 4px 18px -3px var(--tw-shadow-color), 0 2px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  